<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.punuo.pet.home">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <permission android:name="android.permission.STATUS_BAR_SERVICE"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application android:supportsRtl="true">

        <activity
            android:name=".device.ConnectDeviceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity
            android:name=".device.ConnectResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity
            android:name=".care.CareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity
            android:name=".bluetooth.BlueToothActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity
            android:name=".wifi.WifiConnectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity
            android:name=".device.BindDeviceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />

        <!--日常护理子项活动-->
        <activity android:name=".care.item_activity.BathActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity android:name=".care.item_activity.BeautyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity android:name=".care.item_activity.BuyFoodActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity android:name=".care.item_activity.CheckupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity android:name=".care.item_activity.DewormingVivoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity android:name=".care.item_activity.DewormingVitroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity android:name=".care.item_activity.VaccineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity android:name=".care.item_activity.WalkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />
        <receiver android:name=".care.broadcast.BathAlarmBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.punuo.pet.home.ALARM_ONE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
