<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.punuo.pet.home">

    <permission android:name="android.permission.STATUS_BAR_SERVICE" />

    <application android:supportsRtl="true">

        <activity
            android:name=".care.CareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity
            android:name=".care.CareDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />

        <activity
            android:name=".care.AddCareDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity
            android:name=".device.BindDeviceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity
            android:name=".wifi.HotSpotConnectWifiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".device.SelectDeviceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />

        <activity
            android:name=".chart.ChartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />

        <activity
            android:name=".wifi.WifiChooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity
            android:name=".device.DeviceManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity android:name=".pet.PetManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent"
            />
    </application>
</manifest>
