<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.punuo.sys.sdk">

    <application>

        <activity
            android:name=".activity.BaseSwipeBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebViewActivity"
            android:theme="@style/Theme.Pn.Translucent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QRScanActivity"
            android:theme="@style/Theme.Pn.Translucent"
            android:screenOrientation="portrait" />

        <service
            android:name="com.punuo.pet.update.AutoUpdateService">
        </service>

        <activity android:name="com.punuo.pet.update.UpdateDialogActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden"/>

    </application>
</manifest>
