<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.punuo.pet.member" >

    <application>
        <activity
            android:name=".login.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoWindowAnimationStyle"/>

        <activity android:name=".login.activity.RegisterAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name=".login.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name=".login.activity.BindPhoneActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Pn.Translucent"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name=".pet.AddPetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name="com.punuo.pet.wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!--用户管理部分的活动-->
        <activity
            android:name="com.punuo.pet.activity.AccountManagementActivity"
            android:theme="@style/Theme.Pn.Translucent"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.punuo.pet.activity.SetNicknameActivity"
            android:theme="@style/Theme.Pn.Translucent"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.punuo.pet.activity.ChangePasswordActivity"
            android:theme="@style/Theme.Pn.Translucent"
            android:screenOrientation="portrait"/>

        <!--系统消息的活动-->
        <activity android:name="com.punuo.pet.activity.SystemNewsActivity"
            android:theme="@style/Theme.Pn.Translucent"
            android:screenOrientation="portrait"/>

        <!--关于我们部分的活动-->
        <activity
            android:name="com.punuo.pet.activity.AboutActivity"
            android:theme="@style/Theme.Pn.Translucent"
            android:screenOrientation="portrait"/>

        <!--客服部分-->
        <activity android:name="com.punuo.pet.activity.CustomerServiceActivity"
            android:theme="@style/Theme.Pn.Translucent"
            android:screenOrientation="portrait"/>
        <!--修改个人信息-->
        <activity android:name="com.punuo.pet.activity.EditUserInfoActivity"
            android:theme="@style/Theme.Pn.Translucent"
            android:screenOrientation="portrait"/>

        <activity android:name="com.punuo.pet.update.UpdateDialogActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden"/>

        <service
            android:name="com.punuo.pet.update.AutoUpdateService">
        </service>

    </application>
</manifest>
