<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.punuo.pet.member">

    <application>
        <activity
            android:name=".login.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoWindowAnimationStyle" />

        <activity
            android:name=".login.activity.RegisterAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".login.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".login.activity.BindPhoneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.punuo.pet.wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!--用户管理部分的活动-->
        <activity
            android:name="com.punuo.pet.activity.AccountManagementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />

        <activity
            android:name="com.punuo.pet.activity.SetNicknameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity
            android:name="com.punuo.pet.activity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />

        <!--系统消息的活动-->
        <activity
            android:name="com.punuo.pet.activity.SystemNewsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />

        <!--关于我们部分的活动-->
        <activity
            android:name="com.punuo.pet.activity.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />

        <!--客服部分-->
        <activity
            android:name="com.punuo.pet.activity.CustomerServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />
        <!--修改个人信息-->

        <activity
            android:name=".pet.PetInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />

        <activity
            android:name=".user.UserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Pn.Translucent" />

    </application>
</manifest>
